# Session 2 Tasks

1. Create 3 variables to store street, city and country, now create address variable to
store entire address. Use two ways of creating this variable, one using + operator and the other using f-string.
Now Print the address in such a way that the stree\t, city and country prints in a separate line

In [ ]:
f1 = input("Enter your Street : ")
f2 = input("Enter your City : ")
f3 = input("Enter your Country : ")
f_all = (f"{f1}, {f2}, "+f3)
print(f_all)

Enter your Street : Sami Al Okxory
Enter your City : Cairo
Enter your Country : Egypt
Sami Al Okxory, Cairo, Egypt

2. Create a variable to store the string "Earth revolves around the sun"
    1. Print "revolves" using slice operator
    2. Print "sun" using negative index

In [ ]:
f1 = ("Earth Revolves Around the Sun")
print(f1[6:14]) #1
print(f1[-3:])  #2

Revolves
Sun

3. Create two variables to store how many fruits and vegetables you eat in a day.
Now Print "I eat x veggies and y fruits daily" where x and y presents vegetables and fruits that you eat everyday. Use python f string for this.

In [ ]:
fruits = 5
vegetables = 8
print(f"I Eat {vegetables} Veggies and {fruits} Fruits Daily")

I Eat 5 Veggies and 8 Fruits Daily

4. I have a string variable called s='maine 200 banana khaye'. This of course is a
wrong statement, the correct statement is 'maine 10 samosa khaye'.
Replace incorrect words in original strong with new ones and print the new string.
Also try to do this in one line.

In [ ]:
s ='maine 200 banana khaye'
s = s.replace('200 banana', '10 samosa')
print(s)

maine 10 samosa khaye

5. Let us say your expense for every month are listed below.
	  1. January -  2200
    2. February - 2350
    3. March - 2600
    4. April - 2130
    5. May - 2190

Create a list to store these monthly expenses and using that find out,

    1. In Feb, how many dollars you spent extra compare to January?
    2. Find out your total expense in first quarter (first three months) of the year.
    3. Find out if you spent exactly 2000 dollars in any month
    4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
    5. You returned an item that you bought in a month of April and
    got a refund of 200$. Make a correction to your monthly expense list
    based on this

In [ ]:
f1 = [2200, 2350, 2600, 2130, 2190]

if f1[0] < f1[1] :   #1
    print("February expenses are higher than January")
else :
    print("January expenses are higher than February ")

print(sum(f1[:3]))   #2

if 2000 == f1 :      #3
    print("true")
else :
    print("false")

f1.insert(5, 1980)   #4
print(f1)

f1[3] = 1930         #5
print(f1)

February expenses are higher than January
7150
false
[2200, 2350, 2600, 2130, 2190, 1980]
[2200, 2350, 2600, 1930, 2190, 1980]

6. You have a list of your favourite marvel super heros.
```
heros=['spider man','thor','hulk','iron man','captain america']
```

Using this find out,

    1. Length of the list
    2. Add 'black panther' at the end of this list
    3. You realize that you need to add 'black panther' after 'hulk',
       so remove it from the list first and then add it after 'hulk'
    4. Now you don't like thor and hulk because they get angry easily :)
       So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
       Do that with one line of code.
    5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [ ]:
heros=['spider man','thor','hulk','iron man','captain america']
print(len(heros)) #1

heros.append('black panther') #2
print(heros)

heros.remove('black panther') #3
heros.insert(3,'black panther')
print(heros)

heros[1:3] = ['doctor strange'] #4
print(heros)

heros.sort() #5
print(heros)

5
['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']
['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']
['spider man', 'doctor strange', 'black panther', 'iron man', 'captain america']
['black panther', 'captain america', 'doctor strange', 'iron man', 'spider man']

7. Write a program that prints following shape

```
    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *
```

In [ ]:
i = 0
l = 4
while i <= 8 :
    i += 1
    if i %2 == 0 :
        continue
    else :
        print(" " * l, "*" * i)
    l -= 1
##########################################
i = 8
l = 1
while i >= 1 :
    i -=1
    if i %2 == 0 :
        continue
    else :
        print(" " * l, "*" * i)
    l +=1

     *
    ***
   *****
  *******
 *********
  *******
   *****
    ***
     *